{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% block content %}
<div>
  <h1 class="text-center">{% trans "Departments" %}</h1>
  {% if request.user.is_staff %}
    {% for permission in request.user.get_all_permissions %}
      {% if permission == "departments.add_department" %}
        <div class="text-right">
          <a href="{% url 'department_edit' slug=department.slug %}">
            <svg height="2em" viewBox="0 0 16 16" class="bi bi-pen-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
            </svg>
          </a>
        </div>
        <br>
      {% endif %}
    {% endfor %}
      <h1 class="text-center">{{ department.title }}</h1>
      {{ department.slug }}
    <br>
    {% if department.description %}
      {% trans "Description" %}: {{ department.description }}
    {% endif %}
  {% else %}
    <div class="alert alert-danger" role="alert">
      You are not staff!
    </div>
  {% endif %}
</div>
{% endblock %}
