{% load pwa %}
{% load staticfiles %}
{% load i18n %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% progressive_web_app_meta %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "bootstrap-4.6.0-dist/css/bootstrap.min.css" %}" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    {% include "includes/title.html" %}
  </head>
  <body class="text-white" style="background-color: #000000;">
<nav class="navbar navbar-expand-lg navbar-dark sticky-top border-bottom border-success" style="background-color: #000000;">
  {% include "includes/brand.html" %}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  {% if request.user.is_staff %}
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
            <a class="nav-link{% if articles or article or pallets %} active{% endif %}" href="{% url 'articles'%}">{% trans 'Articles' %}</a>
      </li>
      <li class="nav-item{% if articles_thermal_deburring or article_thermal_deburring %} active{% endif %}">
        <a class="nav-link" href="/tasks/articles_thermal_deburring">{% trans 'Thermal deburring' %}{% if articles_thermal_deburring or article_thermal_deburring %} <span class="sr-only">(current)</span>{% endif %}</a>
      </li>
      <li class="nav-item{% if departments or department %} active{% endif %}">
        <a class="nav-link" href="/departments/all">{% trans 'Departments' %}{% if departments or department %} <span class="sr-only">(current)</span>{% endif %}</a>
      </li>
      <li class="nav-item{% if zamak or zama %} active{% endif %}">
	      <a class="nav-link" href="{% url 'zamak' %}">{% trans 'Zamak' %}{% if departments or department %} <span class="sr-only">(current)</span>{% endif %}</a>
      </li>
    </ul>
  {% endif %}
    <svg height="2em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
    </svg>
    <a href="/accounts/account"> Account</a>
  </div>
</nav>
<div class="container-fluid">
  <br>
    {% block title_content %}
    {% endblock %}
    {% block content %}
    {% endblock %}
  <br>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static "bootstrap-4.6.0-dist/js/jquery-3.5.1.slim.min.js" %}" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="{% static "bootstrap-4.6.0-dist/js/bootstrap.bundle.min.js" %}" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  </body>
</html>
