{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
  <div>
    <h1 class="text-center">{% trans "Thermal deburring" %}</h1>
    {% if request.user.is_staff %}
      {% if article_thermal_deburring.code.title %}
        <h1 class="text-center">{{ article_thermal_deburring.code.title }}</h1>
      {% endif %}
        </div>
        <br>
        <table class="table table-hover table-dark">
          <tbody>
          <tr>
            <th scope="row">{% trans "Code" %}</th>
            <td>{{ article_thermal_deburring.slug }}</td>
          </tr>
          {% if article_thermal_deburring.basket_deburring %}
            <tr>
              <th scope="row">{% trans "Basket" %}</th>
              <td>{{ article_thermal_deburring.basket_deburring.title }}</td>
            </tr>
          {% endif %}
          {% if article_thermal_deburring.parameter_deburring %}
            <tr>
              <th scope="row">{% trans "Parameter" %}</th>
              <td>{{ article_thermal_deburring.parameter_deburring.title }}</td>
            </tr>
          {% endif %}
          </tbody>
        </table>
	{% if article_thermal_deburring.description %}
	  <br>
	  {{ article_thermal_deburring.description }}
	  <br>
	{% endif %}
	<br>
        <a href="{% url 'article_detail' code=article_thermal_deburring.slug %}" type="button" class="btn btn-info">{% trans "Article detail" %}</a>
    {% else %}
      <div class="alert alert-danger" role="alert">
        You are non staff!
      </div>
    {% endif %}
  </div>
{% endblock %}
