{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
    {% if request.user.is_staff %}
      <div class="text-right">
	<a href="{% url 'article_thermal_deburring_edit' slug=article_thermal_deburring.slug %}">
	    <svg height="2em" viewBox="0 0 16 16" class="bi bi-pen-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
		      <path fill-rule="evenodd" d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
	    </svg>
	</a>
      </div>
    {% endif %}
<div>
	<h1 class="text-center">{% trans "Thermal deburning" %}</h1>
	<br>
  {% if article_thermal_deburring.code.title %}
    <h1 class="text-center">{{ article_thermal_deburring.code.title }}</h1>
  {% endif %}
</div>

<table class="table table-hover table-dark">
  <tbody>
    <tr>
      <th scope="row">{% trans "Code" %}</th>
      <td>{{ article_thermal_deburring.slug }}</td>
    </tr>
  {% if article_thermal_deburring.basket_deburring %}
    <tr>
      <th scope="row">{% trans "Basket" %}</th>
      <td>{{ article_thermal_deburring.basket_deburring.title }}</td>
    </tr>
  {% endif %}
  {% if article_thermal_deburring.parameter_deburring %}
    <tr>
      <th scope="row">{% trans "Parameter" %}</th>
      <td>{{ article_thermal_deburring.parameter_deburring.title }}</td>
    </tr>
  {% endif %}
  </tbody>
</table>
<a href="{% url 'article_detail' code=article_thermal_deburring.slug %}" type="button" class="btn btn-info">{% trans "Article detail" %}</a>
{% endblock %}
