{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
  <div>
    {% if request.user.is_staff %}
      <h1 class="text-center">{% trans "Thermal deburring" %}</h1>
      <br>
      <a href="{% url 'pallets_for_thermal_deburring' %}" type="button" class="btn btn-lg btn-dark">Pallets for thermal deburring</a>
      <a href="{% url 'pallets_thermal_deburred_current_month' year=current_year month=current_month %}" type="button" class="btn btn-lg btn-dark">Pallets thermal deburred</a>
      <br>
      <br>
      <div class="text-right">
        <a href="{% url 'article_thermal_deburring_new' %}">
          <svg height="2em" viewBox="0 0 16 16" class="bi bi-plus-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
          </svg>
        </a>
        </div>
        <br>
        {% if articles_thermal_deburring %}
          {% for article_thermal_deburring in articles_thermal_deburring %}
            <a class="btn btn-secondary btn-lg btn-block text-left" href="{% url 'article_thermal_deburring_detail' article_thermal_deburring.article.code %}" role="button">{{article_thermal_deburring.article.code }}</a>
          {% endfor %}
          <br>
          <div class="text-right">
            <a href="{% url 'article_thermal_deburring_new' %}">
              <svg height="2em" viewBox="0 0 16 16" class="bi bi-plus-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
              </svg>
            </a>
          </div>
        {% endif %}
      {% else %}
        <div class="alert alert-danger" role="alert">
          You are not staff!
        </div>
    {% endif %}
  </div>
{% endblock %}
