{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
  <h1 class="text-center">{% trans "All articles" %}</h1>
  {% if request.user.is_staff %}
    <br>
    {% if articles %}
      {% for article in articles %}
        <a class="btn btn-secondary btn-lg btn-block text-left" href="{% url 'article_detail' code=article.code %}" role="button">{{ article.code }}</a>
      {% endfor %}
      <br>
    {% endif %}
    <br>
  {% else %}
    <div class="alert alert-danger" role="alert">
      You are not staff!
    </div>
  {% endif %}
{% endblock %}
