{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
  <h1 class="text-center">{% trans "All pallets" %}</h1>
  {% if request.user.is_staff %}
    <br>
    <div class="text-right">
      <a href="{% url 'pallet_new' %}">
        <svg xmlns="http://www.w3.org/2000/svg" height="46" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
        </svg>
      </a>
    </div>
    <br>
    {% if pallets %}
      {% for pallet in pallets %}
        <div class="card text-white bg-dark text-center">
          <div class="card-header">
            {{ pallet.article.code }}
          </div> 
          <div class="card-body">
            {% if pallet.article.title %}
              <h5 class="card-title">{{ pallet.article.title }}</h5>
            {% endif %}
            <p class="card-text">
	    <span class="text-muted">{% trans "Quantity" %}: </span> {{ pallet.quantity }}{% if pallet.thermal_deburred == True and pallet.quantity_thermal_deburred_no_ok != 0 %} - <span data-toggle="tooltip" data-placement="top" title="{% trans "Quantity articles thermal deburred no ok" %}">{{ pallet.quantity_thermal_deburred_no_ok }}</span> = {{ pallet.quantity_thermal_deburred }}{% endif %}
	    </p>
            {% if pallet.weight %}
              <p class="card-text">
	      <span class="text-muted">{% trans "Weight" %}: </span> {{ pallet.weight }}{% if pallet.thermal_deburred == True and pallet.weight_thermal_deburred_no_ok != 0 %} - <span data-toggle="tooltip" data-placement="top" title="{% trans "Weight articles thermal deburred no ok" %}">{{ pallet.weight_thermal_deburred_no_ok }}</span> = {{ pallet.weight_thermal_deburred }}{% endif %} kg
              </p>
            {% endif %}
	    {% if pallet.department %}
              <p class="card-text">
                {{ pallet.department }}
              </p>
            {% endif %}
          </div>
          <div class="card-footer text-info">
	    {% trans "Produced by" %}
            {{ pallet.employee }}
	    <p>
              {{ pallet.created_date }}
	    </p>
            {% if pallet.thermal_deburred == True %}
              <div class="card-footer text-success">
	        {% trans "Thermal deburred by" %}
                {{ pallet.employee_thermal_deburring }}
	        <p>
                  {{ pallet.thermal_deburred_date }}
	        </p>
              </div>
	    {% endif %}
          </div>
          {% if pallet.thermal_deburred == False and pallet.article.for_thermal_deburring == True %}
            <a class="btn btn-success" href="{% url 'pallet_thermal_deburred_new' pk=pallet.pk %}">{% trans "Thermal deburring" %}</a>
	  {% endif %}
	</div>
	<br>
      {% endfor %}
      <br>
    {% endif %}
    <br>
  {% else %}
    <div class="alert alert-danger" role="alert">
      You are not staff!
    </div>
  {% endif %}
{% endblock %}
