{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
   <h1 class="text-center">{% trans " Pallets thermal deburred" %}</h1>
  {% if request.user.is_staff %}
    <br>
    {% if pallets_thermal_deburred %}
      {% for pallet_thermal_deburred in pallets_thermal_deburred %}
        <div class="card text-white bg-dark text-center">
          <div class="card-header">
            {{ pallet_thermal_deburred.pallet.article.code }}
          </div> 
          <div class="card-body">
            {% if pallet_thermal_deburred.pallet.article.title %}
              <h5 class="card-title">
                {{ pallet_thermal_deburred.pallet.article.title }}
	      </h5>
            {% endif %}
            <span class="text-muted">{% trans "Quantity" %}: </span> {{ pallet_thermal_deburred.quantity }}
	    {% if pallet_thermal_deburred.quantity_no_ok %}
	      <p class="card-text">
	        <span class="text-muted">No ok: </span>{{ pallet_thermal_deburred.quantity_no_ok }}
	      </p>
	    {% endif %}
            {% if pallet_thermal_deburred.weight %}
              <p class="card-text">
                <span class="text-muted">{% trans "Weight" %}: </span> {{ pallet_thermal_deburred.weight }} kg
              </p>
            {% endif %}
          </div>
          <div class="card-footer text-muted">
		  <p>{% trans "Production date" %}: <span class="text-white">{{ pallet_thermal_deburred.pallet.created_date }}</span></p>
		  <p>{% trans "Deburred date" %}: <span class="text-white">{{ pallet_thermal_deburred.thermal_deburred_date }}</span></p>
          </div>
	</div>
	<br>
      {% endfor %}
      <br>
    {% endif %}
    <br>
  {% else %}
    <div class="alert alert-danger" role="alert">
      You are not staff!
    </div>
  {% endif %}
{% endblock %}
