{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
  <h1 class="text-center">{% trans "Pallets for thermal deburring" %}</h1>
  {% if request.user.is_staff %}
    <br>
    <a href="{% url 'pallets' %}" type="button" class="btn btn-dark">Pallets</a>
    <a href="{% url 'pallets_thermal_deburred' %}" type="button" class="btn btn-dark">Pallets thermal deburred</a>
    <br>
    <br>
    {% if pallets %}
      {% for pallet in pallets %}
        <div class="card text-white bg-dark text-center">
          <div class="card-header">
            {{ pallet.article.code }}
          </div> 
          <div class="card-body">
            {% if pallet.article.title %}
              <h5 class="card-title">{{ pallet.article.title }}</h5>
            {% endif %}
            <p class="card-text">
	    <span class="text-muted">{% trans "Quantity" %}: </span> {{ pallet.quantity }}
	    </p>
            {% if pallet.weight %}
              <p class="card-text">
	      <span class="text-muted">{% trans "Weight" %}: </span> {{ pallet.weight }} kg
              </p>
            {% endif %}
	    {% if pallet.department %}
              <p class="card-text">
                {{ pallet.department }}
              </p>
            {% endif %}
          </div>
          <div class="card-footer text-info">
	    {% trans "Produced by" %}
            {{ pallet.employee }}
	    <p>
              {{ pallet.created_date }}
	    </p>
          </div>
          <a class="btn btn-success" href="{% url 'pallet_thermal_deburred_new' pk=pallet.pk %}">{% trans "Thermal deburring" %}</a>
	</div>
	<br>
      {% endfor %}
      <br>
    {% endif %}
    <br>
  {% else %}
    <div class="alert alert-danger" role="alert">
      You are not staff!
    </div>
  {% endif %}
{% endblock %}
