{% extends "base.html" %}
{% load i18n %}
{% block content %}
{% load staticfiles %}
<br>
<div>
  {% if thermal_deburring_article.code.title %}
    <h1 class="text-center">{{ thermal_deburring_article.code.title }}</h1>
  {% endif %}
    <h2>{% trans "Code" %}: {{ thermal_deburring_article.slug }}</h2>
  {% if thermal_deburring_article.basket %}
    <h3>{% trans "Basket" %}: {{ thermal_deburring_article.basket.title }}</h3>
  {% endif %}
  {% if thermal_deburring_article.parameter %}
    <h3>{% trans "Parameter" %}: {{ thermal_deburring_article.parameter.title }}</h3>
  {% endif %}
</div>
{% endblock %}
